.header {
    position: fixed;
    z-index: 1750;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1240px;
    background-color: #1b1b1b;    border-bottom: 1px solid #2f2f2f;
    .header-gnb {
        position: relative;
        width: 1240px;
        height: 74px;
        margin: 0 auto;
        font-size: 0;
        .gnb-left {
            li{
            .router-link-exact-active {color:#fff;}
            }
        }
        .logo {
            display: inline-block;
            height: 100%;
            margin-right: 50px;
            line-height: 74px;
            vertical-align: middle;
            a {
                display: block;
                padding: 0 10px;
                font-size: 20px;
                line-height: 74px;
                color: #a5a5a5;
                img {
                    display: inline-block;
                }
                p {
                    color:#fff;
                    font-weight:700;
                    font-size: 25px;
                    font-family: "Exo", sans-serif;
                    em {
                        color: #ffb444;
                    }
                }
            }          
        }
        .gnb-left {
            display: inline-block;
            vertical-align: middle;
            font-size:0;
            li {
                margin-right: 20px;
                display:inline-block;
                &:first-child{
                    margin-left:0;
                }
                a {
                    display: block;
                    padding: 0 10px;
                    font-size: 20px;
                    line-height: 74px;
                    color: #a5a5a5;
                }
            }
        }
        .btn-search{
            position: absolute;
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            height: 100%;
            padding-left: 40px;
            background:url('~@/assets/images/icon_search.svg') no-repeat 0;
            border: none;
            background-size: 36px 36px;
            font-size: 0;
            span {
                font-size: 18px;
                line-height: 27px;
                color: #a5a5a5;
            }
            &::after {
                content: "";
                display: table;
                clear: both;
            }
        }
    }
}


.wrap {
    width: 1240px;
    margin: 0 auto;
}